%h1 Listing photos

%table#photos
  %tr
    %th Name
    %th
    %th
    %th

  = render :partial => "/photos/photo", :collection => @photos
%br

- if can? :create, Photo
  = form_for Photo.new do |f|
    = f.file_field :image, multiple: true, name: "photo[image]"

  = link_to 'New Photo', new_photo_path
