= render '/layouts/test'
.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Photoads
      .container.nav-collapse
        %ul.nav
          = render '/layouts/login'
          - if can? :manage, User
            %li.dropdown
              %a.dropdown-toggle#dLabel{"role"=>"button", "data-toggle"=>"dropdown", "data-target"=>"#", :href=>"/#"}
                Admin
                %b.caret
              %ul.dropdown-menu{"role"=>"menu", "aria-labelledby"=>"dLabel"}
                %li= link_to "Users", admin_users_path
:javascript
  $('.dropdown-toggle').dropdown();
